<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../vue/vue.js"></script>
</head>
<body>
    <div id="app">
        <input type="button" value="显示/隐藏" @click="show">
        <p v-if="showP">这里显示/隐藏一段文文字</p>
        <p v-else>这里用showP测试v-else</p>
        <p v-if="num1 > 4">如果{{num1}}>4,显示</p>
        <p v-show="num2">测试v-show</p>
    </div>
    <script>
        let m = {
            showP: false,
            num1: 5,
            num2: 0
        };
        let app = new Vue({
            el: '#app',
            data: m,
            methods: {
                show() {
                    this.showP = !this.showP;
                }
            }
        });
    </script>
</body>
</html>